{% extends 'base/base.html' %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/addition_to_bootstrap.css' %}">
{% endblock %}

{% block title %} Авторизация {% endblock %}

{% block content %}
    <h1 class="text-center">Авторизация</h1>
    <form method="post" class="px-3">
        {% csrf_token %}
        <ul class="list-group mx-auto col-md-7 col-lg-5 mb-3">
            {% for error in form.non_field_errors %}
                <li class="list-group-item list-group-item-danger">{{ error }}</li>
            {% endfor %}
        </ul>
        {% for field in form %}
            <div class="form-group col-9 col-sm-6 col-md-4 col-lg-4 col-xl-3 mx-auto mb-3">
                <label class="mr-sm-2 text-color" for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                {{ field }}
            </div>
        {% endfor %}
        <div class="container col-10 col-sm-6 col-md-4 col-xl-3 mx-auto my-4 d-flex justify-content-between align-items-center g-0">
            <button type="submit" class="btn px-4 btn-lg button-bg"><b>Войти</b></button>
            <a href="{% url 'reset_password:reset_password' %}" class="text-color">Забыли пароль?</a>
        </div>
    </form>
    <div class="container col-9 col-sm-6 col-md-4 col-xl-3 mx-auto my-4 d-flex justify-content-between align-items-center g-0">
        <a href="{% url 'registration:main' %}" class="text-color"><b>На главную</b></a>
        <a href="{% url 'registration:add' %}" class="text-color"><b>Регистрация</b></a>
    </div>
{% endblock %}