{% extends 'base/base.html' %}

{% block title %} Новостная лента {% endblock %}

{% block content %}
    <div class="d-flex flex-wrap btn-group">
        {% if request.user.is_authenticated %}
            <button type="button" class="btn text-color btn-filter" id="for-you">Для Вас</button>
        {% endif %}
        {% for tag in tags %}
            <button type="button" class="btn tag-button text-color btn-filter">{{ tag }}</button>
        {% endfor %}
        {% if request.user.is_authenticated %}
            <button type="button" class="btn tag-button text-color btn-filter">Подписки</button>
        {% endif %}
        <button type="button" class="btn btn-danger" id="set-null">Сбросить фильтр</button>
    </div>
    {% if request.user.is_authenticated %}
        <a href="{% url 'item:item-add' %}">Создать новость</a>
    {% endif %}
    <hr>

    <div id="feed">
            <!-- добавить ещё ссылку на страницу новости, но перед этим посмотреть, как она реализована и возможно, придётся добавить redirect не авторизованным пользователям-->
        {% for item, profile, addition in items %}
            <div class="card border-dark mx-auto w-50 overflow-hidden card-height">
                <div class="card-header bg-pink">
                    <ul class="nav nav-pills card-header-pills justify-content-between align-items-center">
                        <li class="nav-item"><a href="{% url 'user_page:user-page' item.author.username %}" class="text-decoration-none text-dark">
                            {% if profile.photo %}
                                <img class="rounded-circle border border-dark" width="75" height="75" src="{{ profile.photo.url }}">
                            {% endif %}
                            {{ item.author.username }}
                        </a></li>
                        <li class="nav-item ml-auto">
                            <a class="nav-link button-bg text-decoration-none text-color" href="#">На новость</a> <!-- ссылка на новость -->
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <div>
                        {% for file, type in addition.items %}
                            {% if type == "image" %}
                                <img src="{{ file }}">
                            {% else %}
                                <video src="{{ file }}" controls></video>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <p class="card-text">{{ item.text }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for tag in item.tags.all %}
                        <li class="list-group-item">{{ tag }}</li>
                    {% endfor %}
                </ul>
                <div class="card-footer text-muted">
                    {{ item.created_at }}
                </div>
            </div>
            <hr>
        {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            function setItemsIntoHtml(all_data) {
                var feed = document.getElementById("feed");
                for (let i = 0; i < all_data.length; i++) {
                    let created_at = document.createElement('p');
                    created_at.textContent = all_data[i]["item"]["created_at"];
                    feed.appendChild(created_at);
                    let author_p = document.createElement('p');
                    author_p.textContent = "Автор: ";
                    let user_a = document.createElement('a');
                    user_a.textContent = all_data[i]["item"]["username"]
                    user_a.href = '/user_page/' + all_data[i]['item']['username'];
                    author_p.appendChild(user_a);
                    feed.appendChild(author_p);
                    if (all_data[i]["profile"]) {
                        let image = document.createElement('img');
                        image.src = all_data[i]["profile"];
                        feed.appendChild(image);
                    }
                    let item_text = document.createElement('p');
                    item_text.textContent = all_data[i]['item']['text'];
                    feed.appendChild(item_text);
                    let div_for_files = document.createElement('div');
                    for (const [file, type] of Object.entries(all_data[i]['addition'])) {
                        if (type == "image") {
                            let img_item = document.createElement('img');
                            img_item.src = file;
                            feed.appendChild(img_item);
                        } else {
                            let video_item = document.createElement('video');
                            video_item.src = file;
                            video_item.controls = true;
                            feed.appendChild(video_item);
                        }
                    }
                    feed.appendChild(div_for_files);
                    let ul_tags = document.createElement('ul');
                    let tags = all_data[i]['item']['tags'];
                    for (let i = 0; i < tags.length; i++) {
                        let li_tag = document.createElement('li');
                        li_tag.textContent = tags[i];
                        ul_tags.appendChild(li_tag);
                    }
                    feed.appendChild(ul_tags);
                    let hr = document.createElement('hr');
                    feed.appendChild(hr);
                }
            }

            var page = 1;
            var filter = [];
            var is_click = false;
            {% if filter_session %}
                filter = [];
                {% for element in filter_session %}
                    filter.push("{{ element }}");
                {% endfor %}
            {% endif %}

            function ajaxOfItems(is_replace) {
                $.ajax({
                    url: "{% url 'news_feed:news-feed' %}",
                    data: {'page': page, 'action': 'feed', 'filter': filter.join(' ')},
                    dataType: "json",
                    type: 'GET',
                    success: function(data) {
                        if (page == data.page) {
                            var all_data = data.all_data;
                            if (is_replace) {
                                var feed = document.getElementById("feed");
                                if (feed.childElementCount > 0) {
                                    feed.replaceChildren();
                                }
                            }
                            setItemsIntoHtml(all_data);
                            page++;
                        }
                    }
                });
            }

            document.addEventListener('scroll', function() {
                if ((($(window).scrollTop() + $(window).height()) / $(document).height()) > 0.8) {
                    ajaxOfItems(false);
                }
            });
            let tag_buttons = document.querySelectorAll('.tag-button');
            for (let i = 0; i < tag_buttons.length; i++) {
                tag_buttons[i].addEventListener("click", function() {
                    if (is_click) {
                        // также в стилях снять нажатие
                        filter = [];
                        is_click = false;
                    }
                    if (filter.indexOf(tag_buttons[i].textContent) == -1) {
                        filter.push(tag_buttons[i].textContent);
                    } else {
                        filter.splice(filter.indexOf(tag_buttons[i].textContent), 1);
                    }
                    page = 0;
                    ajaxOfItems(true);
                });
            }
            document.getElementById('set-null').addEventListener("click",  function() {
                filter = [];
                page = 0;
                ajaxOfItems(true);
            });
            {% if request.user.is_authenticated %}
                document.getElementById('for-you').addEventListener("click", function() {
                    if (!is_click) {
                        filter = [];
                        // также в стилях снять нажатие
                        {% for tag in tags_for_you %}
                            filter.push("{{ tag }}");
                        {% endfor %}
                        is_click = true;
                    } else {
                        filter = [];
                        is_click = false;
                    }
                    page = 0;
                    ajaxOfItems(true);
                });
            {% endif %}
        });
    </script>
{% endblock %}