{% extends 'base/base.html' %}

{% block title %} Просмотр записи {% endblock %}

{% block content %}
        <h6>Автор: <a href="{% url 'user_page:user-page' item.author.username %}">{{ item.author }}</a></h6>
        {% if item.author == request.user %}
            <p><a href="{% url 'item:update_item' item_id=item.id  %}">Редактировать новость</a></p>
            <p><a href="{% url 'item:delete_item' item_id=item.id  %}">Удалить новость</a></p>
        {% else %}
            <p><a href="{% url 'item:feedback' item_id=item.id  %}">Оставить жалобу</a></p>
        {% endif %}
        {% if profile.photo %}
            <img src="{{ profile.photo.url }}">
        {% endif %}
        <p> Дата публикации: {{ item.created_at }} </p>
        <p> {{ item.text }} </p>
        {% for file, type in addition.items %}
            {% if type == "image" %}
                <img src="{{ file }}">
            {% else %}
                <video src="{{ file }}" controls></video>
            {% endif %}
        {% endfor %}
        <ul>
            {% for tag in item.tags.all %}
                <li>{{ tag }}</li> <!-- добавить ссылку на news_feed с нужным get-параметром -->
            {% endfor %}
        </ul>
{% endblock %}