{% extends 'base/base.html' %}

{% load static %}

{% block title %} Просмотр записи {% endblock %}

{% block content %}
    <div class="card border-dark mx-auto col-11 col-sm-9 col-md-8 col-lg-5 col-lg-6 overflow-hidden">
        <div class="card-header">
            <ul class="d-flex flex-wrap nav nav-pills card-header-pills justify-content-between align-items-center">
                <li class="nav-item w-100 mb-2">
                    <a href="{% url 'user_page:user-page' item.author.username %}" class="text-decoration-none text-dark">
                        {% if profile.photo %}
                            <img class="avatar rounded-circle border border-dark" src="{{ profile.photo.url }}">
                        {% endif %}
                        <span>{{ item.author }}</span>
                    </a>
                </li>
                {% if item.author == request.user %}
                    <li class="nav-item mb-2 w-50 px-2">
                        <a href="{% url 'item:update_item' item_id=item.id  %}" class="nav-link button-bg text-decoration-none text-center text-color">Редактировать</a>
                    </li>
                    <li class="nav-item mb-2 w-50 px-2">
                        <a href="{% url 'item:delete_item' item_id=item.id  %}" class="nav-link button-bg text-decoration-none text-center text-color">Удалить</a>
                    </li>
                {% else %}
                    <li class="nav-item mb-2 w-100">
                        <a href="{% url 'item:feedback' item_id=item.id  %}" class="nav-link button-bg text-decoration-none text-center text-color">Оставить жалобу</a>
                    </li>
                {% endif %}
            </ul>
        </div>
        <div class="card-body">
            <div class="mt-3 overflow-hidden container-fluid">
                <div id="carouselExample" class="carousel slide" data-bs-interval="false">
                    <div class="carousel-inner">
                        {% for file, ar in addition.items %}
                            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                {% if ar.0 == "image" %}
                                    <img src="{{ file }}" class="photo-border border border-dark d-block w-100">
                                {% else %}
                                    <video src="{{ file }}" class="video-border border border-dark d-block w-100" controls loop autoplay muted></video>
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                    {% if addition|length > 1 %}
                        <div class="mx-2 mt-1 carousel-controls d-flex justify-content-evenly">
                            <button class="btn btn-sm btn-secondary" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Предыдущий</span>
                                </button>
                            <div class="carousel-indicators d-flex flex-wrap">
                            {% for file, ar in addition.items %}
                                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %} not-active" aria-current="true"></button>
                            {% endfor %}
                            </div>
                                <button class="btn btn-sm btn-secondary" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="visually-hidden">Следующий</span>
                                </button>
                        </div>
                    {% endif %}
                </div>
            </div>
             <div class="card-text-items mt-2 overflow-hidden container-fluid">
                <p class="card-text">{{ item.text }}</p>
            </div>
        </div>
        <ul class="d-flex flex-wrap list-group list-group-horizontal justify-content-center p-2">
            {% for tag in item.tags.all %}
                <li class="list-group-item tag-list-item">{{ tag }}</li>
            {% endfor %}
        </ul>
        <div class="card-footer text-muted">
            <p>{{ item.created_at }}</p>
        </div>
    </div>

    <hr>

    <div class="d-flex justify-content-around w-50 mx-auto mb-3">
        <form method="post" id="like-form" name="like-form">
            {% csrf_token %}
            <button type="submit" id="like-button" class="btn {% if is_liked == True %}btn-secondary{% else %}btn-danger{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-chat-heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.965 12.695a1 1 0 0 0-.287-.801C1.618 10.83 1 9.468 1 8c0-3.192 3.004-6 7-6s7 2.808 7 6c0 3.193-3.004 6-7 6a8.06 8.06 0 0 1-2.088-.272 1 1 0 0 0-.711.074c-.387.196-1.24.57-2.634.893a10.97 10.97 0 0 0 .398-2Zm-.8 3.108.02-.004c1.83-.363 2.948-.842 3.468-1.105A9.06 9.06 0 0 0 8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6a10.437 10.437 0 0 1-.524 2.318l-.003.011a10.722 10.722 0 0 1-.244.637c-.079.186.074.394.273.362a21.673 21.673 0 0 0 .693-.125ZM8 5.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132Z"/>
                </svg> <span id="likes_count" class="badge mr-2">{{ likes_count }}</span>
            </button>
        </form>
        <form method="post" id="repost-form" name="repost-form">
            {% csrf_token %}
            <button type="submit" id="repost-button" class="btn {% if is_reposted == True %}btn-secondary{% else %}btn-primary{% endif %}">
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-reply-fill" viewBox="0 0 16 16">
                  <path d="M5.921 11.9 1.353 8.62a.719.719 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z"/>
                </svg> <span id="reposts_count" class="badge">{{ reposts_count }}</span>
            </button>
        </form>
    </div>

    <form method="post" id="comment-form" name="comment-form" class="px-3 mb-3">
        {% csrf_token %}
        {% for field in comment_form %}
            <div class="form-group container mx-auto form-group col-md-6 col-lg-6 col-xl-7 mb-3 g-0">
                <label for="{{ field.auto_id }}" class="text-color">{{ field.label }}</label>
                {{ field }}
            </div>
            <div class=" mx-auto col-md-6 col-lg-6 col-xl-7 mb-3 g-0 d-flex justify-content-end">
                <button type="submit" id="comment-button" class="mx-2 button-bg btn border border-black d-block">Комментировать</button>
            </div>
        {% endfor %}
    </form>
    <div id="comments" class="container-fluid">
        {% for comment in all_comments %}
            <div class="card comment-card border-dark mx-auto col-11 col-sm-9 col-md-8 col-lg-5 col-lg-6 overflow-hidden mb-4">
                <div class="card-header card-header-comment">
                    <a href="{% url 'user_page:user-page' comment.user.user.username %}" class="text-decoration-none text-dark">
                    {% if comment.user.photo %}
                        <img class="avatar rounded-circle border border-dark" src="{{ comment.user.photo.url }}">
                    {% endif %}
                        <span>{{ comment.user.user.username }}</span></a>
                </div>
                <div class="card-body">
                    <div class="card-text-items mt-2 card-text-height overflow-hidden container-fluid">
                        <p class="card-text">{{ comment.text }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
    <div id="image-block-id" class="container-fluid hidden-elem mx-auto d-flex align-items-center align-self-center">
        <img src="" id="image-block-photo-id" class="hidden-elem img-fluid mx-auto">
    </div>

    <script type="text/javascript" src="{% static 'js/js_for_image.js' %}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {

          // оставление лайка
          $('#like-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
              type: "POST",
              url: "{% url 'item:item_detail' item_id=item.id %}",
              data: $(this).serialize() + '&form_name=like-form',
              headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
              success: function(response) {
                let likes_count_elem = document.getElementById('likes_count');
                let like_button = document.getElementById('like-button');
                like_button.classList.toggle('btn-secondary');
                like_button.classList.toggle('btn-danger');
                if (response.is_liked) {
                    likes_count_elem.textContent = Number(likes_count_elem.textContent) + 1;
                } else {
                    likes_count_elem.textContent = Number(likes_count_elem.textContent) - 1;
                }
              },
            });
          });

          // добавление комментариев
          $('#comment-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
              type: "POST",
              url: "{% url 'item:item_detail' item_id=item.id %}",
              data: $(this).serialize() + '&form_name=comment-form',
              headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
              success: function(response) {
                let comments = document.getElementById('comments');
                let comment_card = document.createElement('div');
                comment_card.classList.add("card", "border-dark", "mx-auto", "col-11", "col-sm-9", "col-md-8", "col-lg-5", "col-lg-6", "overflow-hidden", "mb-4");
                let card_header = document.createElement('div');
                card_header.classList.add("card-header");
                let comment_profile = document.createElement('a');
                comment_profile.href = "{% url 'user_page:user-page' request.user.username %}";
                comment_profile.classList.add("text-decoration-none", "text-dark");
                let comment_photo = document.createElement('img');
                if (response.photo) {
                    comment_photo.src = response.photo;
                    comment_photo.classList.add("avatar", "rounded-circle", "border", "border-dark");
                    comment_profile.appendChild(comment_photo);
                }
                let comment_span = document.createElement('span');
                comment_span.textContent = " " + response.username;
                comment_profile.appendChild(comment_span);
                card_header.appendChild(comment_profile);
                comment_card.appendChild(card_header);
                let comment_body = document.createElement('div');
                comment_body.classList.add("card-body");
                let card_text_div = document.createElement('div');
                card_text_div.classList.add("card-text-items", "mt-2", "card-text-height", "overflow-hidden", "container-fluid");
                let card_text = document.createElement('p');
                card_text.classList.add('card-text');
                card_text.textContent = response.text;
                card_text_div.appendChild(card_text);
                comment_body.appendChild(card_text_div);
                comment_card.appendChild(comment_body);
                comments.prepend(comment_card);
                document.getElementById('id_comment_text').value = "";
              },
            });
          });

          // Оставление репоста
          $('#repost-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
              type: "POST",
              url: "{% url 'item:item_detail' item_id=item.id %}",
              data: $(this).serialize() + '&form_name=repost-form',
              headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
              success: function(response) {
                let reposts_count_elem = document.getElementById('reposts_count');
                let repost_button = document.getElementById('repost-button');
                repost_button.classList.add('btn-secondary');
                repost_button.classList.remove('btn-primary');
                if (response.is_reposted) {
                    reposts_count_elem.textContent = Number(reposts_count_elem.textContent) + 1;
                } 
              },
            });
          });
        });
    </script>
{% endblock %}