{% extends 'base/base.html' %}

{% block title %} Лента новостей {% endblock %}

{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        <p><a href="{% url 'item:item-add' %}">Добавить новость</a></p>
        <ul>
            {% for item in item_list %}
                <li>
                    <p>{{ item.title }}</p>
                    <a href="{% url 'item:item_detail' item.id %}">{{ item.text }}</a>

                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock %}