{% extends 'base/base.html' %}

{% block title %} Страница пользователя {% endblock %}

{% block content %}
    <h1>Страница пользователя {{ record.user.username }}</h1>
    {% if record.user.username == request.user.username %}
        <a href="{% url 'user_page:user-page-edit' request.user.username %}">Редактировать</a>
    {% else %}
        <form id="subscribe-form" method="post">
            {% csrf_token %}
            <button type="submit" id="subscribe-button" name="subscribe-button-name">
                {% if is_subscribed %}
                    Вы подписаны
                {% else %}
                    Подписаться
                {% endif %}
            </button>
        </form>
        <div class="bg-danger" id="message"></div>
    {% endif %}
    <p><a href="{% url 'user_page:follows' request.user.username %}">Подписки</a></p>
    <p>{{ record.user.username }}</p>
    <p>{{ record.user.first_name }} {{ record.user.last_name }}</p>
    {% if record.photo %}
        <img src="{{ record.photo.url }}">
    {% endif %}
    {% if record.date_of_birth %}
        <p>Дата рождения: {{ record.date_of_birth }}</p>
    {% endif %}
    {% if record.tags.all %}
        <ul>Любимые теги:
        {% for tag in record.tags.all %}
            <li>{{ tag.name }}</li>
        {% endfor %}
        </ul>
    {% endif %}
    <div>
        <p>Стена:</p>
        {% if record.user.username == request.user.username %}
            <a href="{% url 'item:item-add' %}">Добавить запись</a>
        {% endif %}
        <!-- здесь должны отображаться записи пользователя и репосты -->
        {% for item, profile, addition in user_items %}
            <p>{{ item.created_at }}</p>
            <p>Автор: <a href="{% url 'user_page:user-page' item.author.username %}">{{ item.author.username }}</a></p>
            {% if profile.photo %}
                <img src="{{ profile.photo.url }}">
            {% endif %}
            <p>{{ item.text }}</p>
            <div>
                {% for file, type in addition.items %}
                    {% if type == "image" %}
                        <img src="{{ file }}">
                    {% else %}
                        <video src="{{ file }}" controls></video>
                    {% endif %}
                {% endfor %}
            </div>
            <ul>
                {% for tag in item.tags.all %}
                    <li>{{ tag }}</li>
                {% endfor %}
            </ul>
            <hr>
        {% endfor %}
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
          $('#subscribe-form').submit(function(event) {
            event.preventDefault();
            $.ajax({
              type: "POST",
              url: "{% url 'user_page:user-page' username=record.user.username %}",
              data: $(this).serialize() + '&form_name=subscribe-form',
              headers: {
                        'X-CSRFToken': "{{ csrf_token }}",
                    },
              success: function(response) {
                $('#subscribe-button').html(response.text);
              },
              error: function() {
                $('#message').html('Произошла ошибка. Попробуйте позже.');
              },
            });
          });
        });
    </script>
{% endblock %}