{% extends 'base/base.html' %}

{% block title %} Страница пользователя {% endblock %}

{% block content %}
    <h1>Редактирование дополнительной информации</h1>
    <p>
        <a href="{% url 'user_page:user-page' request.user.username %}">Назад</a>
    </p>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
        {% for field in form %}
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label><br>
            {% if field.field.widget.input_type == 'file' %}
                {% if field.value %}
                    <img src="{{ object.photo.url }}">
                    <br>
                    <label for="photo-clear_id">Очистить изображение</label>
                    <input type="checkbox" name="photo-clear" id="photo-clear_id">
                    <br>
                {% endif %}
                <input type="file" name="photo" accept="image/*" id="id_photo">
                <br>
            {% else %}
                {{ field }}<br>
            {% endif %}
        {% endfor %}
        <button type="submit">Редактировать</button>
    </form>
{% endblock %}