{% extends 'base/base.html' %}

{% block title %} Страница пользователя {% endblock %}

{% block content %}
    <h1>Страница пользователя {{ record.user.username }}</h1>
    <p>
        {% if record.user.username == request.user.username %}
            <a href="{% url 'user_page:user-page-edit' request.user.username %}">Редактировать</a>
        {% endif %}
    </p>
    <p>{{ record.user.username }}</p>
    <p>{{ record.user.first_name }} {{ record.user.last_name }}</p>
    {% if record.photo %}
        <img src="{{ record.photo.url }}">
    {% endif %}
    {% if record.date_of_birth %}
        <p>{{ record.date_of_birth }}</p>
    {% endif %}
{% endblock %}