{% extends 'base/base.html' %}

{% block title %}
403 - Доступ запрещен
{% endblock %}

{% block content %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">403 - Доступ запрещен</h1>
        <p class="lead">У вас нет прав доступа к этой странице.</p>
        <hr class="my-4">
        <p>Пожалуйста, вернитесь на <a href="{% url 'registration:main' %}">главную страницу</a> или <a href="{% url 'registration:auth' %}">войдите</a> с соответствующими учетными данными.</p>
    </div>
</div>
{% endblock %}