{% extends 'base/base.html' %}

{% block content %}
        <h1>Диалоги</h1>
        <br/>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <a href="{% url 'message:search_user' %}">Найти пользователей</a>
            <br/><br/>
        </form>

        {% if not chats %}
            <h5>Нет диалогов</h5>
        {% endif %}
        <ul>
            {% for chat in chats %}
                {% if chat.message_set.count.0.0 %}
                <!-- <li><a href="{% url 'message:project_detail' project.id %}">{{ project.name }}</a></li> !-->

                {% endif %}
            {% endfor %}
        </ul>
{% endblock %}