<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/addition_to_bootstrap.css' %}">
    {% block styles %}
        <!-- здесь подключаем нужные стили -->
    {% endblock %}
</head>
<body>
    <header>
        {% if request.user.is_authenticated %}
            <ul>
                <li><a href="">News&Views</a></li> <!-- сслыка должна вести на страницу с лентой новостей -->
                <li><a href="{% url 'user_page:user-page' request.user.username %}">Профиль</a></li>
                <li><a href="">Сообщения</a></li> <!-- ссылка должна вести на страницу с сообщениями -->
                <li><a href="">Подписки</a></li> <!-- ссылка должна вести на страницу с подписками -->
                <li><a href="{% url 'registration:logout' %}">Выход</a></li>
            </ul>
        {% else %}
              <ul>
                    <li><a href="">News&Views</a></li> <!-- сслыка должна вести на страницу с лентой новостей -->
                    <li><a href="{% url 'registration:auth' %}">Войти</a></li>
                </ul>
        {% endif %}
    </header>
    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <!-- Общий футер для всех страниц -->
        {% endblock %}
    </footer>
</body>
</html>