<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon/favicon.png' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/addition_to_bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    {% block styles %}
        <!-- здесь подключаем нужные стили -->
    {% endblock %}
</head>
<body>
    <ul class="d-flex flex-wrap justify-content-around align-items-center p-2 w-100 sticky-top z-3 mb-2 menu-background">
        <!-- добавить ещё аватарку пользователя -->
        <li class="flex-grow-1 px-2 text-center"><a href="{% url 'news_feed:news-feed' %}" class="text-decoration-none display-6 logo-border text-color"><strong><em>News&Views</em></strong></a></li>
         {% if request.user.is_authenticated %}
            <li class="flex-grow-1 px-2"><div class="dropdown-center my-2">
                <button class="btn dropdown-toggle w-100 btn-filter-on border border-white text-white" type="button" id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">Меню</button>
                <ul class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenu2">
                    <li><a href="{% url 'item:item-add' %}" class="dropdown-item btn text-color btn-filter">Добавить запись</a></li>
                    <li><a class="dropdown-item btn text-color btn-filter" href="{% url 'user_page:user-page' request.user.username %}">Профиль</a></li>
                    <li><a class="dropdown-item btn text-color btn-filter" href="">Сообщения</a></li> <!-- ссылка должна вести на страницу с сообщениями -->
                    <li><a class="dropdown-item btn text-color btn-filter" href="{% url 'user_page:like-list' request.user.username %}">Понравившиеся<br> записи</a></li>
                    <li><a class="dropdown-item btn text-color btn-filter" href="{% url 'user_page:follows' request.user.username %}">Подписки</a></li>
                    <li><a class="dropdown-item btn text-color btn-filter" href="{% url 'registration:logout' %}">Выход</a></li>
                </ul>
            </div></li>
        {% endif %}
        {% block addedContent %}

        {% endblock %}
        {% if request.user.is_authenticated == False %}
            <li class="px-2"><a class="btn w-100 btn-filter-on border border-white text-white" href="{% url 'registration:auth' %}">Войти</a></li>
        {% endif %}
    </ul>

    <main>
        {% block content %}
        <!-- Основное содержимое страницы -->
        {% endblock %}
    </main>

    <footer>
        {% block footer %}
        <!-- Общий футер для всех страниц -->
        {% endblock %}
    </footer>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>
</html>