{% extends 'base/base.html' %}

{% block title %}Восстановление пароля{% endblock %}

{% block styles %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/addition_to_bootstrap.css' %}">
{% endblock %}

{% block content %}

<div class="text-center mx-2">
  <h1>Восстановление пароля</h1>
  <p class="p-style mx-auto py-3 mb-2 bg-gradient col-xl-4">
    Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
  </p>
</div>
<form action="" method="POST" class="px-3">
  {% csrf_token %}
  {% for field in form %}
            <div class="form-group col-9 col-sm-6 col-md-4 col-lg-4 col-xl-3 mx-auto mb-3">
                <label class="mr-sm-2 text-color" for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                {{ field }}
            </div>
  {% endfor %}
    <div class="container col-10 col-sm-6 col-md-4 col-xl-3 mx-auto my-4 d-flex justify-content-between align-items-center g-0">
        <button type="submit" class="btn mx-auto px-4 btn-lg button-bg"><b>Восстановить пароль</b></button><br>
    </div>
</form>
<div class="text-center">
  <a href="{% url 'registration:main' %}" class="text-color">Вернуться на главную страницу</a>
</div>
{% endblock%}