{% extends 'base/base.html' %}
{% block content %}

<div class="text-center">
  <h1>Восстановление пароля</h1>
  <p>
    Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.
  </p>
</div>
<form action="" method="POST" class="text-center">
  {% csrf_token %}
  {{ form.as_p }}
  <button type="submit">Восстановить пароль</button><br>
</form>
<div class="text-center">
  <a href="{% url 'registration:main' %}">Вернуться на главную страницу</a>
</div>
{% endblock%}